/* Basic reset for full-screen layout */
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100%;
  display: flex;
  flex-direction: column;
}